* {
    padding: 0;
    margin: 0;
    font-family: LTS;
}

@font-face { /* Cria uma nova fonte */
    font-family: LTS;
    src: url(./fonts/LTSaeada-Bold.otf); /* Caminho de fontes (1º ponto significa a pasta atual, 2º significa pasta anterior */
}

header {
    background-color: rgb(1, 1, 17);
    box-shadow: 1px 1px 3px #000;
    color: white;
    padding-block: 2vh;
    display: inline-flex;
    width: 100%;
    align-items: center;
}
header h1 {
    text-align: left;
    width: 100%;
    margin-left: 20px;
}

h2 {
    font-size: 24pt;
}

nav #botoes-landing {
    margin-top: 30px;
}

ol {
    margin-top: 30px;
}

form input {
    padding: 8px;
    font-size: 12pt;
    border-radius: 20px;
    display: block;
    margin-bottom: 15px;
    width: 240px;
}
form .botao {
    margin-left: 26px;
}
.conteudo-form {
    width: 260px;
    padding-top: 50px;
}
.conteudo-form nav {
    text-align: center;
}

.input {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 15pt;
}
.input label {
    padding-left: 5px;
}

.botao {
    font-family: LTS;
    font-size: 16pt;
    display: block;
    color: white;
    background-color: rgb(1, 1, 17);
    text-decoration: none;
    width: 80%;
    max-width: 240px;
    margin-block: 10px;
    padding-inline: 10px;
    padding-block: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #000;
    transition: transform 0.8s; /* Tempo que o botão leva para voltar para a posição original */
}
.botao:hover {
    background-color: rgb(3, 3, 31); 
    box-shadow: 0px 0px 10px rgb(3, 3, 31); /* Adiciona brilho no botão */
    transform: translate(0px, -2px); /* Desloca o botão (horizontal, vertical) */
    transition: transform 0.8s; /* Tempo que o botão leva para ser deslocado */
}

.letra {
    width: 33px;
    height: 28px;
    border: 2px solid black;
    border-radius: 4px;
}

.linha {
    margin: 10px 0;
}

#conteudo-landing {
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-inline: 15%;
    margin-block: 10px;
}

#logo {
    max-width: 220px;
    width: 80%;
    margin-block: 20px;
}

#botao-sair {
    font-size: 15pt;
    background-color: white;
    color: rgb(1, 1, 17);
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    height: 22px;
    width: 22px;
    margin-block: 0;
}
#botao-sair:hover {
    transform: translate(0px, -1px); /* Desloca o botão (horizontal, vertical) */
}