* { /* Muda tudo na página */
    margin: 0; /* Remove todas as margens */
    padding: 0; /* Remove a distância do conteúdo de um elemento de sua borda */
}

@font-face { /* Cria uma nova fonte */
    font-family: LTSaeada;
    src: url(../fonts/LTSaeada-Bold.otf); /* Caminho de fontes (1º ponto significa a pasta atual, 2º significa pasta anterior */
}

body { /* Muda tudo no corpo da página */
    background-color: white; /* Muda a cor do background */
    font-family: sans-serif; /* Muda a fonte */
    padding: 50px; 
    text-align: center; /* Alinha no centro da página */
}

h3 {
    padding: 40px;
    font-family: LTSaeada;
    font-size: 30px;
    max-width: 320px;
    padding-inline: 0; /* Remove padding nas laterais */
}

.logo { /* Características da imagem logo */
    max-width: 200px; /* Largura máxima */
    max-height: 200px; /* Altura máxima */
}

.botao { /* Características Gerais do Botão */
    font-family: LTSaeada;
    color: black; /* Cor do texto do botão */
    max-width: 250px;
    font-size: 22px; /* Tamanho da fonte */
    text-decoration: none; /* Remove o sublinhado */
    display: block; /* Coloca um botão abaixo do outro */
    margin-bottom: 20px; /* Distancia a margem entre os botões, para que a cor deles não junte */
    padding: 16px;
    background-color: beige;
    border-radius: 10px; /* Raio da borda do botão */
    border-bottom: 5px solid bisque; /* Adiciona sombra no botão */
    transition: transform 0.5s; /* Tempo que o botão leva para voltar para a posição original */
    max-width: 250px;
}

.botao:hover { /* Altera o botão quando passa o cursor */
    background-color: antiquewhite; 
    box-shadow: 0px 0px 10px antiquewhite; /* Adiciona brilho no botão */
    transform: translate(0px, -2px); /* Desloca o botão (horizontal, vertical) */
    transition: transform 0.5s; /* Tempo que o botão leva para ser deslocado */
}
