* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face { 
    font-family: LTSaeada;
    src: url(../fonts/LTSaeada-Bold.otf); 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 5%; 
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.titulo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navegacao .botao-regras {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 40px;
}

.botao-regras:hover {
    background-color: antiquewhite; 
    box-shadow: 0px 0px 10px antiquewhite;
}