* { /* Muda tudo na página */
    margin: 0; /* Remove todas as margens */
    padding: 0; /* Adiciona a distância do conteúdo de um elemento de sua borda */
}

body { /* Muda tudo no corpo da página */
    background-color: white; /* Muda a cor do background */
    font-family: sans-serif; /* Muda a fonte */
    padding: 60px; 
    text-align: center; /* Alinha no centro da página */
}

h1 {
    padding: 40px;
}

.logo { /* Características da imagem logo */
    max-width: 200px; /* Largura máxima */
    max-height: 200px; /* Altura máxima */
}

.botao { /* Características Gerais do Botão */
    color: black; /* Cor do texto do botão */
    
    font-size: 18px; /* Tamanho da fonte */
    text-decoration: none; /* Remove o sublinhado */
    display: block; /* Coloca um botão abaixo do outro */
    margin-bottom: 20px; /* Distancia a margem entre os botões, para que a cor deles não junte */
    padding: 10px;
    background-color: beige;
    border-radius: 10px; /* Raio da borda do botão */
    border-bottom: 5px solid bisque; /* Adiciona sombra no botão */
    transition: transform 0.5s; /* Tempo que o botão leva para voltar para a posição original */
}

.botao:hover { /* Altera o botão quando passa o cursor */
    background-color: antiquewhite; 
    box-shadow: 0px 0px 10px antiquewhite; /* Adiciona brilho no botão */
    transform: translate(0px, -2px); /* Desloca o botão (horizontal, vertical) */
    transition: transform 0.5s; /* Tempo que o botão leva para ser deslocado */
}
